.gastos-publicos-container {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 40px;
    height: 100vh;
}
  
h2 {
    margin-bottom: 60px;
    margin-top: 10px;
}

.titulo-1 {
    color: #614aeb;
    font-size: 40px;
}

.select-container{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    gap: 20px;
}

select {
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
    height: 30px;
    border-radius: 15px;
}
  
h3 {
    font-size: 20px;
    margin-top: 20px;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}
  
li {
    margin-bottom: 5px;
}
  